
# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Data
/data/raw/*
/data/processed/*
!data/raw/sample_appointments.csv

# Models
*.pkl
*.h5
*.pt
*.pth
!src/models/
!src/models/*.py
